/* Backgrounds (FINAL WORKING PATHS) */
.home-bg {
  background: url('assets/images/Home.png') center/cover no-repeat fixed;
}

.mistical-bg {
  background: url('assets/images/mistical-forest.png') center/cover no-repeat fixed;
}

.twilight-bg {
  background: url('assets/images/twilight-fireflies.png') center/cover no-repeat fixed;
}

.amber-bg {
  background: url('assets/images/amber-timeline.png') center/cover no-repeat fixed;
}

.rose-bg {
  background: url('assets/images/rose-vine.png') center/cover no-repeat fixed;
}
